@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
    a{
        width: 100%;
    }
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese');
body{
    color: white;
    background-color: black;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
h1{
    padding-top:70px;
}
p{
    padding-top: 0px;
    padding-bottom: 50px;
}
a{
    display: inline-block;
    text-decoration: none;
    border: 100px;
    height: 30px;
    width: 25%;
    line-height: 30px;
    font-size:10px;
    letter-spacing: 1px;
    border-radius: 1px;
    
}        
a:link { color: white; transition: 0.9s; }
a:visited { color:white; }
a:hover { color: black; background-color: white; }
/*画面演出*/
body{
    animation-name:fade-in;
    animation-duration:2s;
    animation-timing-function: ease-out;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode: forwards;
}
@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
